/* Dropdown.css */
body{
  background-color: aqua;
}
.dropdown {
  position: relative;
  display: inline-block;
  
}

.dropdown-button {
  padding: 10px;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
}



.dropdown-list li {
  padding: 10px;
  cursor: pointer;
}

.dropdown-list li:hover {
  background-color: #f1f1f1;
}

.dropdown-list.show {
  display: block;
}
